<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyVideostore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyVideostore.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/images/favicon-96x96.png"/>
</head>
<body>
    <div class="sidebar">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/MVStore.ico" alt="MyVideostore Logo" class="logo-img"/>
        </a>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="VideoDetails">Video Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Search">Search</a>
            </li>
            
                
           

            

        </ul>
    </div>
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer>
            <div class="container">
                &copy; 2024 - MyVideostore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
