@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>This WebApplication Created by George Fong 2024.</p>

<h2>Introduction</h2>
<p>Welcome to MyVideostore! Your privacy is important to us. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website or use our services. Please read this policy carefully to understand our views and practices regarding your personal data and how we will treat it.</p>

<h2>Information We Collect</h2>
<p>We collect various types of information in connection with the services we provide, including:</p>
<ul>
    <li><strong>Personal Identification Information:</strong> Name, email address, phone number, etc.</li>
    <li><strong>Technical Data:</strong> IP address, browser type, operating system, referring URLs, access times, etc.</li>
    <li><strong>Usage Data:</strong> Information about how you use our website, products, and services.</li>
    <li><strong>Cookies:</strong> We use cookies to enhance your experience, gather general visitor information, and track visits to our website.</li>
</ul>

<h2>How We Use Your Information</h2>
<p>We use the information we collect in the following ways:</p>
<ul>
    <li><strong>To Provide and Manage Services:</strong> To provide you with the products and services you request.</li>
    <li><strong>To Improve Our Services:</strong> To understand how you use our services and to improve and develop new products and services.</li>
    <li><strong>To Communicate with You:</strong> To send you updates, newsletters, and other information that may be of interest to you.</li>
    <li><strong>To Personalize Your Experience:</strong> To customize content and recommendations based on your interests.</li>
    <li><strong>To Protect Our Interests:</strong> To prevent and detect fraud, abuse, and other harmful activities.</li>
</ul>

<h2>Sharing Your Information</h2>
<p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential.</p>
<p>We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.</p>

<h2>Data Security</h2>
<p>We implement a variety of security measures to maintain the safety of your personal information. Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential.</p>
